doctype html
html
   head
      title "Hello Pug"
   body
     h1(style="color:red; text-align:center") FORM DATA
     table(border="2",cellpadding="10") 
        thead 
          th FULLNAME 
          th EMAIL 
          th MOBILENO
        each val in allstudents 
         tr 
           td 
             a(href=`/student/studetails/${val.phone}`) #{val.fullname}
           td #{val.email}
           td #{val.phone}
