html    
    body 
        form(action="/addStudentWeight" method="POST")
            label ID
            input(type="text" value=`${studentid}` name="id")
            br
            label Enter Weight
            input(type="text" name="weight")
            br
            label Enter Date
            input(type="date" name="date")
            br
            label Enter Height 
            input(type="text" name="height")
            br
            button Add data 